<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All figures</title>
  </head>
  <body>

    <h2>Figure Name: </h2>
    <h3><%= @figure.name %></h2>

    <br></br>

    <h3><%=@figure.name%>'s Landmarks:</h3>
    <% @figure.landmarks.each do |landmark| %>
    <%= landmark.name %>
    <% end %>

    <br></br>

    <h3><%=@figure.name%>'s Titles:</h3>
    <% @figure.titles.each do |title| %>
    <%= title.name %>
    <% end %>

  </body>
</html>
